.dub
docs.json
__dummy.html
docs/
/i2d-harfbuzz
i2d-harfbuzz.so
i2d-harfbuzz.dylib
i2d-harfbuzz.dll
i2d-harfbuzz.a
i2d-harfbuzz.lib
i2d-harfbuzz-test-*
*.exe
*.pdb
*.o
*.obj
*.lst

dub.selections.json

out/
.DS_Store